<div class="container">
  <div class="user-details">
    <br>
    <h3> About Me </h3>
    <p> Front End Developer at State Street Corporation. </p>
    <br>
    <h3>Skills</h3>
  </div>
  
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <p>Building front end using HTML5, LESS, SASS, JavaScript, ReactJs( JS Library) and Bootstrap Framework</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-php-plain colored"></i>
      <p>Creating resusable components, to be used across multiple applications</p>
      <p>Integration/Unit testing using Jest and Enzyme in Storybook</p>
      <p>Using Jenkins to deploy our Design Website</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-wordpress-plain-wordmark colored"></i>
      <p>Eclipse, Visual Studio Code, GitHub, JIRA, Box</p>
    </div>
  </div>
</div>
<hr>
