<div class="container">
  <div class="user-details">
    <h3> About Me </h3>
    <p> I am a highly motivated masters student in Computer Science at the <b>University of Vermont<b>, music enthusiast and travel fanatic. I am hunting for a full time position with a forward thinking, creative company which places a high value on collaboration and apply a multi-disciplinary approach to designing solutions. I would like to start from May 2018 as a software developer, web developer or data analytics employee.</p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <p>Know HTML5, CSS3, JavaScript, Bootstrap Framework</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-php-plain colored"></i>
      <p>I have learned and coded in all of these languages. I have also learned C, C++ in my childhood years. I am most comfortable with 'PYTHON'.</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-wordpress-plain-wordmark colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>I have worked on different IDE'S: netbeans, eclipse, turbo C, Anaconda, Pycharm, Sublime Text, Komodo Edit</p>
    </div>
  </div>
</div>
<hr>
