<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="Blokus Game" src="{{ "/assets/img/a.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Blokus Game </h5>
      <li> Featured Technology: Java Programming Language</li>
      <p>Developed a Board game called Blokus in Java Programming Language.</p>
      <!--<a class="project-link" href="#">Check it out</a>-->
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/b.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> GoFish </h5>
      <ul>
        <li> Featured Technology: Java Programming Language</li>
      </ul>
      <p>Developed a card game called GoFish in Java Programming Language.</p>
      <!--<a class="project-link" href="#">Check it out</a>-->
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="Banking Website" src="{{ "/assets/img/c.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Website Development </h5>
      <li> Featured Technology: FrontEnd: HTML5, CSS3, JavaScript, BackEnd: PHP, Server: XAMPP</li>
      <p>Designed & Developed a Banking website using the above mentioned technologies. The user can register and sign in to his account. The website offers banking options- Deposit, Withdrawl, Acount Information retrieval. </p>
      <!--<a class="project-link" href="#">Check it out</a>-->
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="website" src="{{ "/assets/img/d.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Website Development </h5>
      <ul>
        <li> Featured Technology:HTML5, CSS3, Content Management System: Wordpress</li>
      </ul>
      <p>Designed & developed a website for Indian Student Association, University of Vermont using wordpress on UVM's silk server.</p>
      <a class="project-link" href="http://blog.uvm.edu/isa/">Check it out: Version 2</a>
         <a class="project-link" href="http://www.uvm.edu/~isa/home.html">Check it out: Version 1</a>
    </div>
  </div>
  
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="Analysis Project" src="{{ "/assets/img/e.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Analysis Project </h5>
      <li> Technology used: Python Programming Language, Tool: Anaconda</li>
      <p>Goals Achieved: <br>
          1. Basic data harvesting and storage with automated computer programs,<br>
          2. Data “munging” or cleaning to process data,<br>
          3. Analyzing data with existing methods such as descriptive statistics and visualizations,<br>
          4. Developing new, problem-specific measures to explore trends and features in data, and<br>
          5. Communicating data-driven results.<br>
          Dataset: In the United States, State laws require the reporting of fetal deaths, and Federal law mandates national collection and publication of fetal death data. 
          Fetal death data is published annually by the National Center for Health Statistics, in reports and as individual-record data files. 
          I analyzed this data to find the cause of fetal death by selected characteristics such as mother’s age, mother’s origin, race, mother’s residence status, fetal sex, period of gestation, birth-weight, mother’s height and risk factors.
      </p>
    </div>
  </div>
  
    <div class="row user-projects">
    <div class="six columns">
      <img alt="website" src="{{ "/assets/img/f.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Website Development </h5>
      <ul>
        <li> Featured Technology: Python Programming Language, Tool: Anaconda</li>
      </ul>
      <p>Goals Achieved:<br>
        1. Designed and trained an online chatbot named Jarvis that can understand (in a limited fashion) natural language commands. <br>
        2. Used online web API and “websocket” app, a database ﬁle, natural language processing code, and a machine learning classiﬁer. </p>
    </div>
  </div>
</div>
