<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="PTSD Patient Analysis" src="{{ "/assets/img/ptsd.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Machine Learning - Ongoing </h5>
      <li> Featured Technology: Python(Anaconda IDE) & Machine Learning algorithms</li>
      <p>• Performed munging, manipulation, aggregation and crunching of PTSD clinical data using Python in Anaconda.<br>
• Optimized predictions, improved classification performance and performed investigation into server-side analysis using supervised machine learning ensemble approaches.</p>    
      <!--<a class="project-link" href="https://github.com/codeanddraw/PTSD-patient-analysis">Check it out</a>-->
    </div>
  </div>
  
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/music.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Music Recommendation System </h5>
      <ul>
        <li> Featured Technology: Python(Anaconda IDE) & Machine Learning algorithms</li>
      </ul>
      <p>• Generated music information filtering system that help users filter & discover songs.<br>
•	Implemented Collaborative filtering, Latent factor based, knn and Deep Neural Network models.<br>
•	Improved classifier accuracy by 10% by optimizing the hyper-parameters in the MLP.<br>
• Contrasted old school models with the new techniques and found the best learning rate, optimizer and architecture.<br>
        Presented at 2017 UVM CS Fair (Music Recommender System - 40).
      </p>
      <a class="project-link"https://github.com/codeanddraw/reports/blob/master/music_recommendation_report.pdf">Check it out</a>
    </div>
  </div>
  
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="Blokus Game" src="{{ "/assets/img/a.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Blokus Game </h5>
      <li> Featured Technology: Java Programming Language</li>
      <p>Developed a Board game called Blokus in Java Programming Language.</p>
      <!--<a class="project-link" href="#">Check it out</a>-->
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/b.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> GoFish </h5>
      <ul>
        <li> Featured Technology: Java Programming Language</li>
      </ul>
      <p>Developed a card game called GoFish in Java Programming Language.</p>
      <!--<a class="project-link" href="#">Check it out</a>-->
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="Banking Website" src="{{ "/assets/img/c.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Website Development </h5>
      <li> Featured Technology: FrontEnd: HTML5, CSS3, JavaScript, BackEnd: PHP, Server: XAMPP</li>
      <p>Designed & Developed a Banking website using the above mentioned technologies. The user can register and sign in to his account. The website offers banking options- Deposit, Withdrawl, Acount Information retrieval. </p>
      <!--<a class="project-link" href="#">Check it out</a>-->
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="website" src="{{ "/assets/img/d.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Website Development </h5>
      <ul>
        <li> Featured Technology:HTML5, CSS3, Content Management System: Wordpress</li>
      </ul>
      <p>Designed & developed a website for Indian Student Association, University of Vermont using wordpress on UVM's silk server.</p>
      <a class="project-link" href="http://blog.uvm.edu/isa/">Check it out: Version 2</a>
         <a class="project-link" href="http://www.uvm.edu/~isa/home.html">Check it out: Version 1</a>
    </div>
  </div>
  
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="Analysis Project" src="{{ "/assets/img/e.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Analysis Project </h5>
      <li> Technology used: Python Programming Language, Tool: Anaconda</li>
      <p>Goals Achieved: <br>
          1. Basic data harvesting and storage with automated computer programs,<br>
          2. Data “munging” or cleaning to process data,<br>
          3. Analyzing data with existing methods such as descriptive statistics and visualizations,<br>
          4. Developing new, problem-specific measures to explore trends and features in data, and<br>
          5. Communicating data-driven results.<br>
          Dataset: In the United States, State laws require the reporting of fetal deaths, and Federal law mandates national collection and publication of fetal death data. 
          Fetal death data is published annually by the National Center for Health Statistics, in reports and as individual-record data files. 
          I analyzed this data to find the cause of fetal death by selected characteristics such as mother’s age, mother’s origin, race, mother’s residence status, fetal sex, period of gestation, birth-weight, mother’s height and risk factors.
      </p>
    </div>
  </div>
  
    <div class="row user-projects">
    <div class="six columns">
      <img alt="website" src="{{ "/assets/img/f.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Programming Project </h5>
      <ul>
        <li> Featured Technology: Python Programming Language, Tool: Anaconda</li>
      </ul>
      <p>Goals Achieved:<br>
        1. Designed and trained an online chatbot named Jarvis that can understand (in a limited fashion) natural language commands. <br>
        2. Used online web API and “websocket” app, a database ﬁle, natural language processing code, and a machine learning classiﬁer. </p>
    </div>
  </div>
  
   <div class="row user-projects">
    <div class="six columns images">
      <img alt="Website Development" src="{{ "/assets/img/g.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Website Development </h5>
      <li> Technologies used: Oracle 10g at the back-end, Java/J2EE technologies (Servlet, JSP), HTML, CSS, JavaScript(Bootstrap framework) and JDBC at the front end.</li>
      <p>Goals Achieved: <br>
          1. Facilitated the creation of website that allowed users in administrator mode to design their own quiz.<br>
          2. Created this responsive and dynamic website that allowed students to take quizzes online in user mode.<br>
          3. Added a feature that entitled enrolled students to study material uploaded by the administrator. </p>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="website" src="{{ "/assets/img/h.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Analysis Project </h5>
      <ul>
        <li> Featured Technology: Python Programming Language, Tool: Anaconda</li>
      </ul>
      <p>Goals Achieved:<br>
      1. Reported results after analyzing data processing software.<br>
      2. Communicated results obtained after performing an intensive study of the requirements of overseas clients (America and Canada Honda) for barcode labeling. 
      <br>3. Presented a contrast between previous and existing methodology of labeling with the implementation of barcode software.
      <br>4. Understood the manufacturing stages of Honda from capturing engine number to quality inspection till product dispatch.
      </p>   
    </div>
  </div>
  
</div>

<div class="container">
  <div class="user-details">
    <h3> Work Experience </h3>
    <p><b>Graduate Teaching Assistant</b>, University of Vermont, Fall 2016 - present</b></p>
     <p> Hold office hours for the courses - Computer organization [CS120] and Advanced Programming in C++ [CS121].<br>
       Provide academic support to professors through grading, reviewing assignments, exams and proctoring exams<br>
       Coordinated with other teaching assistants to ensure consistency in grading and communication</p>
    <hr>

    <p><b>DukeTIP</b>, Texas, USA, Summer 2017</p>
     <p>Web development (HTML5, CSS3, Bootstrap framework and JavaScript) in Dukes’ summer studies program.
      </p>
    <hr>
    <p><b>Dynamica India Pvt Ltd</b>, Uttar Pradesh, India, Summer 2015</p>
     <p>• Developed API’s for two portals admin and students.<br>
• Facilitated the code such that it allowed users in admin mode to design their own quiz and users in student mode to take quiz.<br>
• Also added a new feature that entitled enrolled students to study material uploaded by the admin.<br>Created a responsive and dynamic quizzing website to conduct online tests at universities using Oracle 10g at the back- end and Java/J2EE technologies (Servlet, JSP), HTML, CSS, JS, and JDBC at the front end.(HTML5, CSS3, Bootstrap framework and JavaScript)</p>
    <hr>
    <p><b>Honda Siel Power Products</b>, Uttar Pradesh, India , Summer 2014</p>
     <p>Analyzed data processing software and performed an intensive study of the requirements of overseas clients (America and Canada Honda) for barcode labeling. Also, performed an integrated study of manufacturing stages from capturing engine number to quality inspection till product dispatch.</p>
    <hr>
  </div>
</div>  
